#about {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(-45deg, #a3be8c, #b48ead, #3b4252, #2e3440);
  background-size: 200% 400%;
  animation: gradient 15s ease infinite;
}

strong {
  background: linear-gradient(45deg, #b48ead, #a3be8c);
  background-size: 400% 400%;
  background-clip: text;
  font-size: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}

.mainContainer {
  width: 65%;
  max-width: 100vw;
  padding: 25vh 10vh;
}

.mainContainer h1 {
  font-size: 50px;
}

.mainContainer p {
  font-size: 20px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.titleContainer {
  position: absolute;
  top: 0;
  padding-top: 50px;
  z-index: -1;
}

.imageContainer {
  flex: 1;
  text-align: center;
  margin-top: 5%;
  animation: 3s ease-in-out 0s infinite alternate forwards running top-to-bottom;
}

#buttonContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 5vh;
  height: 100px;
}

.buttonContainer button {
  display: block;
  border-radius: 10px;
  padding: 15px;
  margin: 0.5rem 1rem;
  height: 5em;
  width: 15em;
  border: none;
  box-shadow: 5px 5px 0 4px rgb(0, 0, 0, 0.2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}

.buttonContainer button:hover {
  cursor: pointer;

  border: 2px solid transparent;
  border-image-slice: 1;

  box-shadow: 5px 5px 0 4px rgb(0,0,0,0.3);
}

.buttonContainer button:active {
  box-shadow: 5px 5px rgb(0, 0,0 , 0.3);
  margin-top: 15px;
}

.buttonContainer button {
  color: #fff;
  text-decoration: none;
}

.button{
  display: contents;
}

.btn-navigate {
  display: block;
  margin-top: 30%;
  position: relative;
  padding: 12px 50px 12px 20px;
  background: transparent;
  border: 2px solid;
  border-radius: 10px;
  border-image: linear-gradient(to right, #a3be8c, #b48ead);
  border-image-slice: 1;
  box-sizing: inherit;
  font-size: 20px;
  color: #fff;
  transition: all 0.5s;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-navigate:hover {
  border-image-width: 600px;
}

.iconArrow {
  position: absolute;
  right: 15px;
  top: 11px;
  transition: 0.3s;
}

.btn-navigate:hover .iconArrow {
  position: absolute;
  right: 15px;
  top: 11px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .imageContainer {
    display: none;
  }

  .mainContainer {
    width: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .imageContainer {
    display: none;
  }

  .mainContainer {
    max-width: 100%;
  }
}

/* Keyframes */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes top-to-bottom {
  33% {
    transform: translateY(5%);
  }

  66% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(5%);
  }
}
