#about {
    display: flex;
    height: 100vh;
    background: linear-gradient(-45deg, #A3BE8C, #B48EAD, #3B4252, #2E3440);
    background-size: 200% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
} 

strong {
    background: linear-gradient(45deg, #A3BE8C, #B48EAD);
    background-size: 400% 400%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
}

.mainContainer {
    margin-top: 5vh;
    max-width: 60%;
    padding: 25vh 10vh;
}

.mainContainer h1 {
    font-size: 50px;
      
}

.mainContainer p {
    font-size: 20px;
    margin-top: 20px !important; 
    font-family: 'Poppins', sans-serif;

}

.titleContainer {
    position: absolute;
    top: 0;
    padding-top: 50px;
    z-index: -1;
}

.imageContainer {
    flex: 1;
    text-align: center;
    padding: 15vh;
    margin-top: 5vh;
}

.buttonContainer {
    text-align: center;
    margin-top: 5vh;
}

.buttonContainer button {
    display: inline-block;
    border-radius: 3px;
    padding: 15px;
    margin: 0.5rem 1rem;
    height: 5em;
    width: 15vw;
    border: none;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background: linear-gradient(45deg, #A3BE8C, #B48EAD);
    background-size: 400% 400%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
}
.buttonContainer:hover button {
    cursor: pointer;
}
.buttonContainer button a {
    color: #fff;
    text-decoration: none;

}

/* Media queries */

@media screen and (max-width: 700px){
    .imageContainer{
        display: none;
    }
    .mainContainer {
        max-width: 100%;

    }
}

/* Keyframes */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }