#experiences {
    height: 93vh;
    max-height: 93vh;
}

#cards {
    width: 44.44vw;
    max-width: 100vw;
    height: 35vh;
    max-height: 100vh;
    float: left;
    margin: 25px 2.4%;
    display: flex;
    padding: 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.experienceCard{
    text-align: center;
    width: 100%;
    padding-top: 5%;
}
.experienceCard h1{
    text-align: center;
    margin-top: 20px;

}
.experienceCard p{
    text-align: justify;
    margin-top: 20px;
    display: none;
}


.experienceCard a {
    color: #fff;
}

.experienceCard:hover {
    padding-top: -10px;
}

#cards:hover p {
    display: block;

}
#cards:hover a {
    display: none;
}

@media screen and (max-width: 800px){
    #experiences {
        height: 93vh;
        max-height: 93vh;
    }
    
    #cards {
        width: 44.44vw;
        max-width: 100vw;
        height: 35vh;
        max-height: 35vh;
        float: left;
        margin: 25px 2.4%;
        display: flex;
        padding: 10px;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 740px){
    #experiences {
        height: 93vh;
        max-height: 93vh;
    }
    
    #cards {
        width: 44.44vw;
        max-width: 100vw;
        height: 35vh;
        max-height: 35vh;
        float: left;
        margin: 25px 2.4%;
        display: flex;
        padding: 0px;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 700px){
    #experiences {
        height: 93vh;
        max-height: 93vh;
        margin-left: 25%;
    }
    
    #cards {
        width: 50vw;
        max-width: 100vw;
        height: 40vh;
        max-height: 50vh;
        float: left;
        margin: 25px 2.4%;
        display: flex;
        padding: 10px;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}