#experiences {
  height: 100vh;
  padding-top: 50px;
}

#cardContainer {
  margin: auto;
  border: 2px solid red;
  content: "";
  clear: both;
  display: table;
}

#cards {
  width: 400px;
  float: left;
  margin: 25px 25px;
  padding: 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
